body {
    color: white;
    margin: 0px;
    background-image: url("http://wahlque.org/images/UGC_12158.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
}

#headline {
    background:rgba(0,0,0,0);
}

#headline a {
    color: white;
}

#language-selector {
    margin-top: 8px;
    text-align: left;
}

#language {
    padding-top: 1px;
    padding-bottom: 2px;
}

