body {
    background-color: black;
    color: white;
    margin: 0px;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    background-color: black;
}

#content {
    position: relative;
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#mainseq {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 960px;
    height: 512px;
    overflow: hidden;
    background-color: black;
}

.milestone {
    position: absolute;
    width: 48px;
    height: 48px;
}
